.cancel {
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}
.cancel svg {
  background-color: #fff;
  padding: 7px;
  border-radius: 4px;
  font-size: 10px;
  border: 1px solid #ededed;
}
.cancel h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}
.cancel h2 a {
  color: black;
  text-decoration: none;
}
